<div class="header-item header-sns_list">
    <!-- Twitter -->
    <% if(theme.sns.twitter == undefined){ %>
    <% } else{ %>
    <a href="<%= theme.sns.twitter %>" target="view_window">
		<i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
	</a>
    <% } %>
    
    <!-- Facebook -->
    <% if(theme.sns.facebook == undefined){ %>
    <% }else{ %>
    <a href="<%= theme.sns.facebook %>" target="view_window">
		<i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
	</a>
    <% } %>
    
    <!-- Google + -->
    <% if(theme.sns.googleplus == undefined){ %>
    <% }else{ %>
    <a href="<%= theme.sns.googleplus %>" target="view_window">
		<i class="fa fa-google-plus fa-lg" aria-hidden="true"></i>
	</a>
    <% } %>
    
    <!-- Weibo -->
    <% if(theme.sns.weibo == undefined){ %>
    <% }else{ %>
    <a href="<%= theme.sns.weibo %>" target="view_window">
		<i class="fa fa-weibo fa-lg" aria-hidden="true"></i>
	</a>
    <% } %>
    
    <!-- Instagram -->
    <% if(theme.sns.instagram == undefined){ %>
    <% }else{ %>
    <a href="<%= theme.sns.instagram %>" target="view_window">
		<i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
	</a>
    <% } %>
    
    <!-- Tumblr -->
    <% if(theme.sns.tumblr == undefined){ %>
    <% }else{ %>
    <a href="<%= theme.sns.tumblr %>" target="view_window">
		<i class="fa fa-tumblr fa-lg" aria-hidden="true"></i>
	</a>
    <% } %>
    
    <!-- Github -->
    <% if(theme.sns.github == undefined){ %>
    <% }else{ %>
    <a href="<%= theme.sns.github %>" target="view_window">
		<i class="fa fa-github fa-lg" aria-hidden="true"></i>
	</a>
    <% } %>
</div>
