<%- partial("_partial/back_button") %>
<% if(page.layout == "tags"){ %>
    <!-- Tags Cloud -->
    <div class=" material-tagscloud">
        <div class="material-post mdl-grid">
                <!-- Post Content -->
                <%- partial("_partial/tagcloud") %>
        </div>
    </div>
<% } else if(page.layout == "links") { %>
    <!-- Single Links Page -->
    <%- partial("_widget/page-links") %>
<% } else { %>
    <!-- Post Module -->
    <div class="material-post_container">
        <div class="material-post mdl-grid">
            <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">

                <!-- Post Header(Thumbnail & Title) -->
                <%- partial('_partial/post-header') %>
				
				<% if(theme.style.scheme == "Nexus"){ %>
					<!-- Nexus Post Info -->
					<%- partial('_partial/Nexus-post-info') %>
				<% } %>

                <!-- Post Content -->
                <%- partial('_partial/post-content') %>
				
				<% if(theme.style.scheme == "Nexus"){ %>
					<!-- Nexus Post Info -->
					<%- partial('_partial/Isolation-post-info') %>
				<% } %>

                <!-- Post Comments -->
                <%- partial("_partial/comment") %>
            </div>

            <!-- Post Prev & Next Nav -->
            <%- partial("_partial/post-nav") %>
        </div>
    </div>
<% } %>