<div id="comment" class="disqus_proxy"></div>
<div id="disqus_thread" class="disqus_normal"></div>

<!-- add animation -->
<style>
	.disqus_click_btn {
            line-height: 30px;
            margin: 0;
            min-width: 50px;
            padding: 0 14px;
            display: inline-block;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0;
            overflow: hidden;
            will-change: box-shadow;
            transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
            outline: 0;
            cursor: pointer;
            text-decoration: none;
            text-align: center;
            vertical-align: middle;
            border: 0;
            background: rgba(158, 158, 158, .2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
            color: #fff;
            background-color: <%= theme.uiux.button_color %>;
            text-shadow: 0
        }
</style>

<% if(theme.materialcdn.use === true) { %>
	<%- cssLsload(theme.materialcdn.base + '/css/disqus-proxy.min.css') %>
<%}else{%>
	<%- cssLsload('css/disqus-proxy.min.css') %>
<%}%>

<script src="<%= theme.comment.disqus_proxy_js_url %>/disqus-api.js"></script>

<div class="dsq_click_load">
    <button class="disqus_click_btn"><%= __('post.comments_fully_load_button') %></button>
</div>
<div class="dsq_click_proxy" style="display: none">
    <button class="disqus_click_btn"><%= __('post.comments_proxy_load_button') %></button>
</div>
<div class="dsq_click_load_again" style="display: none">
    <button class="disqus_click_btn"><%= __('post.comments_fully_load_button') %></button>
</div>

<script>
    var disqus_config = function () {
        this.page.url = '<%= page.permalink %>';  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = '<%= page.permalink %>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    $('.dsq_click_load').click(function() {  //click to load comments
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document;
            var s = d.createElement('script');
            s.src = '//<%= theme.comment.shortname %>.disqus.com/embed.js';
            s.setAttribute('data-timestamp', + new Date());
            (d.head || d.body).appendChild(s);
        })();
        $('.dsq_click_load').css('display','none');
        $('.disqus_proxy').css('display','none');
        $('.dsq_click_proxy').css('display','block');
    });
    $('.dsq_click_proxy').click(function() {
        $('.disqus_normal').css('display','none');
        $('.disqus_proxy').css('display','block');
        $('.dsq_click_proxy').css('display','none');
        $('.dsq_click_load_again').css('display','block');
    });
    $('.dsq_click_load_again').click(function() {
        $('.disqus_normal').css('display','block');
        $('.disqus_proxy').css('display','none');
        $('.dsq_click_proxy').css('display','block');
        $('.dsq_click_load_again').css('display','none');
    });
</script>
