<%- css("css/duoshuo.min") %>
<style>
    #ds-thread #ds-reset .ds-post-button{
        background-color: <%= theme.uiux.theme_color %> !important;
    }
    #ds-wrapper #ds-reset .ds-icons-32{
        background-color: <%= theme.uiux.theme_color %> !important;
    }
    #ds-reset .ds-highlight {
        color: <%= theme.uiux.theme_color %> !important;
    }
</style>
<div id="comments">
    <!-- 多说评论框 start -->
        <div class="ds-thread" 
            data-thread-key="<% if(theme.comment.duoshuo_thread_key == "id"){ %><%= page.id %><% } else { %><%= page.path %><% } %>" 
            data-url="<%- config.url+ config.root + page.path %>"
            data-title="<%= page.title %>"></div>
    <!-- 多说评论框 end -->
</div>