<%- css("css/gallery.min") %>

<body>
	<!-- Wrapper -->
	<div id="wrapper">
		
		<!-- Header -->
		<header id="header">
			<h1>
				<a href="<%= config.root %>"><strong><%- config.title %></strong></a> - <%= page.title %>
			</h1>
		</header>

		<!-- Main -->
		<div id="main">
			<% if (site.data.gallery){ %>
				<% for (var i in site.data.gallery){ %>
					<article class="thumb">
						<a href="<%= site.data.gallery[i].full_link %>" class="image"><img src="<%= site.data.gallery[i].thumb_link %>" alt="<%= i %>" /></a>
						<h2><%= i %></h2>
						<p><%= site.data.gallery[i].descr %></p>
					</article>
				<% } %>
			<% } %>
		</div>

	</div>

	<!-- Scripts -->
	<%- js("js/jquery.min") %>
	<%- js("js/gallery/jquery.poptrox.min") %>
	<%- js("js/gallery/skel.min") %>
	<%- js("js/gallery/util.min") %>
	<%- js("js/gallery/main.min") %>
</body>