
<% console.dir(page) %>

<div class="wrapper cf">
	<div class="content article-entry">
		<header>
			<h1><%- page.title %></h1>
		</header>
		<small>
			<% page.categories.forEach(function(ele, i) { %>
				<a href="<%- ele.permalink %>" rel="tag tooltip" class="label light" data-placement="right" data-original-title="2 articles in this category"><i class="fa fa-dot-circle-o"></i> <%- ele.name %></a>
			<% }) %>
      <a href="<%- page.permalink %>#disqus_thread" class="scrollTo label label-default light" data-disqus-identifier=""><i class="fa fa-comment-o"></i> ?? Comments</a>
      <span class="label label-default light"><%- page.date %></span>
    </small>

		<%- page.more %>


		<% if (page.comments && config.disqus_shortname){ %>
		<section id="comments">
			<div id="disqus_thread"></div>
			<script>
			var disqus_config = function () {
				this.page.url = '<%- page.permalink %>;'
				this.page.identifier = '<%- page.lang %>/<%- page.slug %>';
			};

			(function() {
				var d = document, s = d.createElement('script');

				s.src = '//<%- config.disqus_shortname %>.disqus.com/embed.js';

				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>


			<script id="dsq-count-scr" src="//iocast.disqus.com/count.js" async></script>
		</section>
		<% } %>

	</div>
	<div id="sidebar" class="sidebar">
		<h3>Table of Content</h3>
		<nav class="toc">
			<%- toc(page.content, {'class': 'toc-item', 'list_number': false}) %>
		</nav>
	</div>
</div>
