<!-- Floating Action Button -->
<div class="fabs">

    <a id="prime" class="fab">
        <i class="material-icons prime-i-add">add</i>
    </a>
</div>
<!--Footer-->
<footer class="mdl-mini-footer" id="bottom">
    <!--footer-left-section-->
    <div class="mdl-mini-footer--left-section">
        <div class="mdl-mini-footer--left-section">
            <a href="https://twitter.com/viosey" target="view_window"><button class="mdl-mini-footer--social-btn social-btn social-btn__twitter" style="background-image: url(<%- ("img/footer/footer-ico-twitter.png") %>);">
                <span class="visuallyhidden">Twitter</span>
            </button></a>

           <a href="https://www.facebook.com/viosey" target="view_window"><button class="mdl-mini-footer--social-btn social-btn social-btn__facebook" style="background-image: url(<%- ("img/footer/footer-ico-facebook.png") %>);">
                <span class="visuallyhidden">Facebook</span>
            </button></a>

           <a href="https://plus.google.com/116465253856896614917" target="view_window"><button class="mdl-mini-footer--social-btn social-btn social-btn__gplus" style="background-image: url(<%- ("img/footer/footer-ico-gplus.png") %>);">
                <span class="visuallyhidden">Google Plus</span>
            </button></a>
        </div>
    </div>

    <!--copyright-->
    <div id="copyright">Copyright&nbsp;©&nbsp;2016&nbsp;<%- config.title %></div>

    <!--footer-right-section-->
    <div class="mdl-mini-footer--right-section">
        <div>
            <div class="footer-develop-div">Powered by <a href="https://hexo.io" target="_blank" class="footer-develop-a">Hexo</a></div>
            <div class="footer-develop-div">Theme by <a href="https://viosey.com" target="_blank" class="footer-develop-a">Viosey</a></div>
        </div>
    </div>

<%- js("js/jquery.min") %>
<!-- <%- js("js/js-dev") %> -->
