<%- partial("_partial/fab")  %>

<!--Footer-->
<footer class="mdl-mini-footer" id="bottom">
    <!--Footer Left Section-->
    <%- partial("_partial/footer-left") %>

    <!--Copyright-->
    <div id="copyright">Copyright&nbsp;©&nbsp;<script type="text/javascript">var fd = new Date();document.write(fd.getFullYear());</script>&nbsp;<%- config.title %></div>

    <!--Footer Right Section-->
    <div class="mdl-mini-footer--right-section">
        <div>
            <div class="footer-develop-div">Powered by <a href="https://hexo.io" target="_blank" class="footer-develop-a">Hexo</a></div>
            <div class="footer-develop-div">Theme by <a href="https://viosey.com" target="_blank" class="footer-develop-a">Viosey</a></div>
        </div>
    </div>

<!-- Import File -->
<%- js("js/js.min") %>
<%- partial("_partial/nprogress") %>
<%- js("js/smoothscroll") %>