<%- partial("_partial/fab")  %>

<!--Footer-->
<footer class="mdl-mini-footer" id="bottom">
    <!--Footer Left Section-->
    <div class="mdl-mini-footer--left-section">
        <div class="mdl-mini-footer--left-section">
            
            <% if(theme.sns.twitter == undefined){ %>
            <% } else{ %>
            <a href="<%= theme.sns.twitter %>" target="view_window"><button class="mdl-mini-footer--social-btn social-btn social-btn__twitter" style="background-image: url(<%= theme.img.footerico %>twitter.png);">
                <span class="visuallyhidden">Twitter</span>
            </button></a>
            <% } %>
            
            <% if(theme.sns.facebook == undefined){ %>
            <% }else{ %>
            <a href="<%= theme.sns.facebook %>" target="view_window"><button class="mdl-mini-footer--social-btn social-btn social-btn__facebook" style="background-image: url(<%= theme.img.footerico %>facebook.png);">
                <span class="visuallyhidden">Facebook</span>
            </button></a>
            <% } %>

            <% if(theme.sns.googleplus == undefined){ %>
            <% }else{ %>
            <a href="<%= theme.sns.googleplus %>" target="view_window"><button class="mdl-mini-footer--social-btn social-btn social-btn__gplus" style="background-image: url(<%= theme.img.footerico %>gplus.png);">
                <span class="visuallyhidden">Google Plus</span>
            </button></a>
            <% } %>
            
            <% if(theme.sns.weibo == undefined){ %>
            <% }else{ %>
            <a href="<%= theme.sns.weibo %>" target="view_window"><button class="mdl-mini-footer--social-btn social-btn social-btn__gplus" style="background-image: url(<%= theme.img.footerico %>gplus.png);">
                <span class="visuallyhidden">Google Plus</span>
            </button></a>
            <% } %>
        </div>
    </div>

    <!--Copyright-->
    <div id="copyright">Copyright&nbsp;©&nbsp;<script type="text/javascript">var fd = new Date();document.write(fd.getFullYear());</script>&nbsp;<%- config.title %></div>

    <!--Footer Right Section-->
    <div class="mdl-mini-footer--right-section">
        <div>
            <div class="footer-develop-div">Powered by <a href="https://hexo.io" target="_blank" class="footer-develop-a">Hexo</a></div>
            <div class="footer-develop-div">Theme by <a href="https://viosey.com" target="_blank" class="footer-develop-a">Viosey</a></div>
        </div>
    </div>

<%- js("js/js.min") %>