<div class="header-item header-sns_list">
    <!-- Twitter -->
    <% if(theme.sns.twitter) { %>
        <a href="<%= theme.sns.twitter %>" target="_blank">
            <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
        </a>
    <% } %>

    <!-- Facebook -->
    <% if(theme.sns.facebook) { %>
        <a href="<%= theme.sns.facebook %>" target="_blank">
            <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
        </a>
    <% } %>

    <!-- Google + -->
    <% if(theme.sns.googleplus) { %>
        <a href="<%= theme.sns.googleplus %>" target="_blank">
            <i class="fa fa-google-plus fa-lg" aria-hidden="true"></i>
        </a>
    <% } %>

    <!-- Weibo -->
    <% if(theme.sns.weibo) { %>
        <a href="<%= theme.sns.weibo %>" target="_blank">
            <i class="fa fa-weibo fa-lg" aria-hidden="true"></i>
        </a>
    <% } %>

    <!-- Instagram -->
    <% if(theme.sns.instagram) { %>
        <a href="<%= theme.sns.instagram %>" target="_blank">
            <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
        </a>
    <% } %>

    <!-- Tumblr -->
    <% if(theme.sns.tumblr) { %>
        <a href="<%= theme.sns.tumblr %>" target="_blank">
            <i class="fa fa-tumblr fa-lg" aria-hidden="true"></i>
        </a>
    <% } %>

    <!-- Github -->
    <% if(theme.sns.github) { %>
        <a href="<%= theme.sns.github %>" target="_blank">
            <i class="fa fa-github fa-lg" aria-hidden="true"></i>
        </a>
    <% } %>

    <!-- LinkedIn -->
    <% if(theme.sns.linkedin) { %>
        <a href="<%= theme.sns.linkedin %>" target="_blank">
            <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
        </a>
    <% } %>

    <!-- Telegram -->
    <% if(theme.sns.telegram) { %>
        <a href="<%= theme.sns.telegram %>" target="_blank">
            <i class="fa fa-telegram fa-lg" aria-hidden="true"></i>
        </a>
    <% } %>
</div>
