<div class="mdl-card mdl-cell mdl-cell--12-col article-module">
    
    <!-- Article Thumbnail -->
    <% if(post.thumbnail == undefined){ %>
        <div class="post_thumbnail-random mdl-card__media mdl-color-text--grey-50" style="background-image:url(<%= post.thumbnail %>)">
    <% }else{ %>
        <div class="post_thumbnail-custom mdl-card__media mdl-color-text--grey-50" style="background-image:url(<%= post.thumbnail %>)">
    <% } %>
        <!-- Article Title -->
        <p class="article-headline-p"><a href="<%- url_for(post.path) %>"><%- post.title %></a></p>
    </div>
    <!-- Article Excerpt -->
    <div class="mdl-color-text--grey-600 mdl-card__supporting-text index-article-content">
        <%if(post.excerpt){%>
          <%- strip_html(post.excerpt) %>
        <%}else{%>
          <%- strip_html(truncate(post.content,{length:150})) %>
        <%}%>
    </div>
    <!-- Article Info-->
    <div id="article-info">
        <div class="mdl-card__supporting-text meta mdl-color-text--grey-600 " id="article-author-date">
            <!-- Author avatar -->
            <div class="minilogo"></div>
            <div>
                <strong>The Newist</strong>
                <span><%- date(post.date, 'YYYY/M/D') %></span>
            </div>
        </div>
    </div>
</div>
