<!-- Overlay For Active Sidebar -->
<div class="sidebar-overlay "></div>

<!-- Material sidebar -->
<aside id="sidebar" class="sidebar sidebar-colored  sidebar-fixed-left" role="navigation">

    <!-- Sidebar header -->
    <div class="sidebar-header header-cover" style="background-image: url(<%= theme.img.sidebar_header %>);">
        <!-- Top bar -->
        <div class="top-bar"></div>

        <!-- Sidebar toggle button -->
        <button type="button" class="sidebar-toggle mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" style="display: initial;" data-upgraded=",MaterialButton,MaterialRipple">
        <i class="material-icons">clear_all</i>
        <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>

        <!-- Sidebar brand image -->
        <div class="sidebar-image">
            <img src="<%= theme.img.logo %>">
        </div>

        <!-- Sidebar brand name -->
        <a data-toggle="dropdown" class="sidebar-brand" href="#settings-dropdown">
            <%= theme.author.email %>
            <b class="caret"></b>
        </a>
    </div>

        <!-- Sidebar navigation  -->
        <ul class="nav sidebar-nav">
            <!-- User dropdown  -->
            <li class="dropdown">
                <ul id="settings-dropdown" class="dropdown-menu">
                    <li>
                        <a href="#" tabindex="-1">
                            <i class="material-icons sidebar-material-icons sidebar-indent-left1pc-element">account_circle</i>
                             <%= __('sidebar.profile') %>
                        </a>
                    </li>
                    <li>
                        <a href="#" tabindex="-1">
                            <i class="material-icons sidebar-material-icons sidebar-indent-left1pc-element">settings</i>
                             <%= __('sidebar.setting') %>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Homepage -->
            <li id="sidebar-first-li">
                <a href="<%= theme.menu.home %>" target="_self">
                    <i class="material-icons sidebar-material-icons">home</i>
                     <%= __('sidebar.homepage') %>
                </a>
            </li>

            <!-- I'm Feeling Lucky -->
            <li class="dropdown">
                <a href="#" target="_self">
                    <i class="material-icons sidebar-material-icons">explore</i>
                     <%= __('sidebar.imlucky') %>
                </a>
            </li>

            <!-- Newest Article  -->
            <li class="dropdown">
                <a href="#" class="ripple-effect dropdown-toggle" data-toggle="dropdown">
                    <i class="material-icons sidebar-material-icons">library_books</i>
                     <%= __('sidebar.article') %>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" tabindex="-1">
                            Web APIs & DOM
                        </a>
                    </li>

                    <li>
                        <a href="#" tabindex="-1">
                            Mozilla Docs
                        </a>
                    </li>

                    <li>
                        <a href="#" tabindex="-1">
                            Connect
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Newest Comments  -->
            <li class="dropdown">
                <a href="#" class="ripple-effect dropdown-toggle" data-toggle="dropdown">
                    <i class="material-icons sidebar-material-icons">forum</i>
                     <%= __('sidebar.comment') %>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">

                    <li>
                        <a href="#" tabindex="-1">
                            This is the second in a series of interviews about web compatibility with web practitioners.
                        </a>
                    </li>

                    <li>
                        <a href="#" tabindex="-1">
                            This week we caught up with Chris Coyier (@chriscoyier)
                        </a>
                    </li>

                    <li>
                        <a href="#" tabindex="-1">
                            Digging Into WordPress, and the ShopTalk Show
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Archives  -->
            <li class="dropdown">
                <a href="#" class="ripple-effect dropdown-toggle" data-toggle="dropdown">
                    <i class="material-icons sidebar-material-icons">inbox</i>
                     <%= __('sidebar.archive') %>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">

                    <li>
                        <a href="#" tabindex="-1">
                            August 2016
                        </a>
                    </li>
                </ul>
            </li>

            <!-- divider -->
            <li class="divider"></li>

            <!-- Pages  -->
            <li class="dropdown">
                <a class="ripple-effect dropdown-toggle" href="#" data-toggle="dropdown">
                     <%= __('sidebar.pages') %>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" title="友情链接" tabindex="-1">
                            友情链接
                        </a>
                    </li>
                    <li>
                        <a href="#" title="独立归档" tabindex="-1">
                            独立归档
                        </a>
                    </li>
                    <li>
                        <a href="#" title="About" tabindex="-1">
                            About
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Hot tags  -->
            <li class="dropdown">
                <a class="ripple-effect dropdown-toggle" href="#" data-toggle="dropdown">
                     <%= __('sidebar.tags') %>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" tabindex="-1">
                            Ubuntu
                            <span class="sidebar-badge">3</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" tabindex="-1">
                            Viosey
                            <span class="sidebar-badge">3</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" tabindex="-1">
                            Hexo
                            <span class="sidebar-badge">3</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Links -->
            <li class="dropdown">
                <a class="ripple-effect dropdown-toggle" href="#" data-toggle="dropdown">
                    <%= __('sidebar.links') %>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="https://viosey.com" target="_blank" itle="">
                            Viosey
                        </a>
                    </li>

                    <li>
                        <a href="https://viosey.com" target="_blank" itle="">
                            Viosey
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Article Numebr  -->
            <li>
                <a href="#">
                     <%= __('sidebar.article_num') %>
                     <span class="sidebar-badge">20</span>
                </a>
            </li>
            <li>
                <a href="https://github.com/viosey/typecho-theme-material" target="_blank">
                     <%= __('sidebar.theme_github') %>
                    <span class="sidebar-badge badge-circle">i</span>
                </a>
            </li>
        </ul>
        <!-- Sidebar divider -->
        <div class="sidebar-divider"></div>

        <!-- Sidebar bottom text -->
        <a href="mailto:hiviosey@gmail.com" class="sidebar-footer-text-a">
            <div class="sidebar-text mdl-button mdl-js-button mdl-js-ripple-effect sidebar-footer-text-div" data-upgraded=",MaterialButton,MaterialRipple">
                 <%= __('sidebar.help') %>
                            <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></div>
        </a>
        <a href="https://github.com/viosey/typecho-theme-material/issues" target="_blank" class="sidebar-footer-text-a">
            <div class="sidebar-text mdl-button mdl-js-button mdl-js-ripple-effect sidebar-footer-text-div" data-upgraded=",MaterialButton,MaterialRipple">
                 <%= __('sidebar.feedback') %>
                            <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></div>
        </a>
        <a href="https://blog.viosey.com/index.php/Material.html" target="_blank" class="sidebar-footer-text-a">
            <div class="sidebar-text mdl-button mdl-js-button mdl-js-ripple-effect sidebar-footer-text-div" data-upgraded=",MaterialButton,MaterialRipple">
                 <%= __('sidebar.about_theme') %>
                <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></div>
        </a>

        <div id="upyun-logo">
            <a href="https://www.upyun.com/" target="_blank">
                <img src="<%= theme.img.upyun_logo %>">
            </a>
        </div>

</aside>
