<ul class="nav sidebar-nav">
    <!-- User dropdown  -->
    <li class="dropdown">
        <ul id="settings-dropdown" class="dropdown-menu">
			<% for (var i in theme.dropdown){ %>
                <li>
                    <a href="<%= theme.dropdown[i].link %>" target="_blank" title="<%= i %>">
						<i class="material-icons sidebar-material-icons sidebar-indent-left1pc-element"><%= theme.dropdown[i].icon %></i>
                        <%= i %>
                    </a>
                </li>
            <% } %>
        </ul>
    </li>

    <!-- Homepage -->
    <li id="sidebar-first-li">
        <a href="<%= config.root %>" target="_self">
            <i class="material-icons sidebar-material-icons">home</i>
             <%= __("sidebar.homepage") %>
        </a>
    </li>

    <!-- I'm Feeling Lucky -->
<!--
    <li class="dropdown">
        <a href="" target="_self">
            <i class="material-icons sidebar-material-icons">explore</i>
             <%= __("sidebar.imlucky") %>
        </a>
    </li>
-->

	
    <!-- Archives  -->
    <li class="dropdown">
        <a href="#" class="ripple-effect dropdown-toggle" data-toggle="dropdown">
            <i class="material-icons sidebar-material-icons">inbox</i>
             <%= __("sidebar.archive") %>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>
            <%- list_archives({
                show_count: true,
                amount: 5,
                class: 'sidebar_archives',
                style: 'none',
                separator: '</li><li>'
            }) %>
        </ul>
    </li>

    <!-- Divider -->
    <li class="divider"></li>


    <!-- Pages  -->
	<% for (var i in theme.pages){ %>
		<li>
			<a href="<%= theme.pages[i] %>" title="<%= i %>">
				<%= i %>
			</a>
		</li>
	<% } %>

    <!-- Article Numebr  -->
    <li>
        <a href="/archives">
             <%= __("sidebar.article_num") %>
             <span class="sidebar-badge"><%= site.posts.length  %></span>
        </a>
    </li>
</ul>