<article data-id="blog" class="page blog" data-tags="custom-elements,web-tools">
	<header>
		<h1>blog</h1>
		<h2>recent articles</h2>
		<div class="articles box container">

			<section class="blog container">

					<aside class="sticky">

						<ul class="tagcloud">
							<% site.tags.forEach(function(tag, i) { %>
								<li class="tagcloud-item tagcloud-item-<%- tag.length %> blog-filter" data-filter=".<%- tag.name.replace(' ', '_') %>"><%- tag.name %></li>
							<% }); %>
						</ul>

						<ul class="tagcloud">
							<li class="tagcloud-item blog-sort" data-sort="date:asc">date asc</li>
							<li class="tagcloud-item blog-sort" data-sort="date:desc">date desc</li>
							<li class="tagcloud-item" data-filter="all">clear filters</li>
						</ul>

					</aside>

					<article>
						<div class="blog-container" id="Container">
							<% site.posts.forEach(function(post, i) { %>
								<div class="blog-item mix <%- post.tags.map(function(elem) { return elem.name.replace(' ', '_'); }).join(' ') %>" data-id="<%- post.slug %>" data-filter="<%- post.tags.map(function(elem) { return elem.name.replace(' ', '_'); }).join(',') %>" data-date="<%- post.date.toISOString() %>">
									<header>
										<h1><%- post.title %></h1>
										<small><%- post.tags.map(function(elem) { return elem.name; }).join(", ") %></small>
									</header>
									<div>
										<%- post.excerpt %>
									</div>
									<div>
										<a href="<%- url_for(post.path) %>" class=""><i class="fa fa-sign-out"></i> READ MORE</a>
									</div>
								</div>

							<% }) %>
						</div>

					</article>

			</section>




		</div>
	</header>
	<section>

	</section>
</article>
